<div class="myColumn"
     appAutoMargin="10px">
  <app-custom-input label="First"
                    placeholder="First value goes here!"
                    #myInput1>
  </app-custom-input>
  <app-custom-input label="Second"
                    placeholder="Second value goes here!"
                    #myInput2>
  </app-custom-input>
  <app-custom-input label="Results"
                    [disabled]="true"
                    [myValue]="(combined$ | async) ?? ''">
  </app-custom-input>
</div>
<label for="productLimitSelector">Product Limit</label>
<select name="productLimitSelector"
        id="limitSelector"
        [(ngModel)]="limit">
  <option [value]="10">10</option>
  <option [value]="11">11</option>
  <option [value]="12">12</option>
  <option [value]="13">13</option>
  <option [value]="14">14</option>

  <option [value]="50">50</option>
  <option [value]="100">100</option>
  <option [value]="1000">1000</option>
</select>
<h1>
  My Limit: {{limit}}
</h1>
<div class="myRow"
     style="width: 1050px">
  <app-product-card [(product)]="productSelect.value">
    <app-product-selector style="width: 100%; "
                          [(limit)]="limit"
                          label="Custom Template Product Search"
                          #productSelect>
      <b myLimit>Current Limit is: {{limit}}</b>
      <ng-template let-product
                   #optionTemplate>
        <div>
          {{ product.name }}[{{product.category}}] - {{ product.subcategory }} - {{ product.price | money }}
        </div>
      </ng-template>
    </app-product-selector>
  </app-product-card>
  <app-product-card [product]="product2Select.value">
    <!-- Shows use of ngContent (content project) with element selector -->
    <app-product-selector style="width: 100%; "
                          [(limit)]="limit"
                          label="Product Search"
                          #product2Select>
      <!-- Shows use of ngContent (content projection) with an attribute -->
      <b myLimit>Current Limit is: {{limit}}</b>
    </app-product-selector>
  </app-product-card>
</div>